<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Document</title>
</head>

<body>
  <section class="container-page1">
    <header>
      <img src="#" alt="">
      <p>CEMEC - CENTRO MULTIDISCIPLINAR DE ESTUDOS CLINICOS LTDA - EPP</p>
    </header>

    <section class="section-teste">
      <div class="teste-teste2">
        <h3>TESTE TESTE 2</h3>
        <p>Captação - 23/05/23</p>
      </div>
    </section>

    <section class="form">
      <form action="#">
        <p>Ficha Cadastral</p>

        <div class="info-user">
          <div style="display: flex;">
            <label for="">Nome:</label>
            <div class="info" style="width: 160px; height: 20px; background-color: #eeeeee;"></div>
          </div>

          <div style="display: flex;">
            <label for="">Nasc.</label>
            <div class="info" style="width: 160px; height: 20px; background-color: #eeeeee;"></div>
          </div>

          <div style="display: flex;">
            <label for="">Sexo:</label>
            <div class="info" style="width: 160px; height: 20px; background-color: #eeeeee;"></div>
          </div>
        </div>

        <div class="info-user">
          <div style="display: flex;">
            <label for="">Alfabetizado:</label>
            <div class="info" style="width: 160px; height: 20px; background-color: #eeeeee;"></div>
          </div>

          <div style="display: flex;">
            <label for="">Raça/Cor:</label>
            <div class="info" style="width: 160px; height: 20px; background-color: #eeeeee;"></div>
          </div>

          <div style="display: flex;">
            <label for="">Utiliza óculos:</label>
            <div class="info" style="width: 70px; height: 20px; background-color: #eeeeee;"></div>
          </div>
        </div>

        <div class="info-user">
          <div style="display: flex;">
            <label for="">Ocupação:</label>
            <div class="info" style="width: 160px; height: 20px; background-color: #eeeeee;"></div>
          </div>

          <div style="display: flex;">
            <label for="">Onde faz acomp. de Hospital:</label>
            <div class="info" style="width: 100px; height: 20px; background-color: #eeeeee;"></div>
          </div>

          <div style="display: flex;">
            <label for="">SAME:</label>
            <div class="info" style="width: 80px; height: 20px; background-color: #eeeeee;"></div>
          </div>
        </div>

        <div class="info-user">
          <div style="display: flex;">
            <label for="">Médico:</label>
            <div class="info" style="width: 160px; height: 20px; background-color: #eeeeee;"></div>
          </div>

          <div style="display: flex;">
            <label for="">CEP:</label>
            <div class="info" style="width: 160px; height: 20px; background-color: #eeeeee;"></div>
          </div>
        </div>

        <div class="info-user">
          <div style="display: flex;">
            <label for="">Endereço:</label>
            <div class="info" style="width: 400px; height: 20px; background-color: #eeeeee;"></div>
          </div>

          <div style="display: flex;">
            <label for="">Nº:</label>
            <div class="info" style="width: 70px; height: 20px; background-color: #eeeeee;"></div>
          </div>

          <div style="display: flex;">
            <label for="">Compl.</label>
            <div class="info" style="width: 70px; height: 20px; background-color: #eeeeee;"></div>
          </div>
        </div>

        <div class="info-user">
          <div style="display: flex;">
            <label for="">Bairro:</label>
            <div class="info" style="width: 160px; height: 20px; background-color: #eeeeee;"></div>
          </div>

          <div style="display: flex;">
            <label for="">Cidade:</label>
            <div class="info" style="width: 160px; height: 20px; background-color: #eeeeee;"></div>
          </div>

          <div style="display: flex;">
            <label for="">UF:</label>
            <div class="info" style="width: 70px; height: 20px; background-color: #eeeeee;"></div>
          </div>
        </div>

        <div class="info-user">
          <div style="display: flex;">
            <label for="">Tel. Principal:</label>
            <div class="info" style="width: 150px; height: 20px; background-color: #eeeeee;"></div>
          </div>

          <div style="display: flex;">
            <label for="">Telefone 2:</label>
            <div class="info" style="width: 150px; height: 20px; background-color: #eeeeee;"></div>
          </div>

          <div style="display: flex;">
            <label for="">Telefone 3:</label>
            <div class="info" style="width: 150px; height: 20px; background-color: #eeeeee;"></div>
          </div>
        </div>

        <div class="info-user">
          <div style="display: flex;">
            <label for="">Email:</label>
            <div class="info" style="width: 160px; height: 20px; background-color: #eeeeee;"></div>
          </div>

          <div style="display: flex;">
            <label for="">Rede:</label>
            <div class="info" style="width: 160px; height: 20px; background-color: #eeeeee;"></div>
          </div>

          <div style="display: flex;">
            <label for="">Nome na:</label>
            <div class="info" style="width: 160px; height: 20px; background-color: #eeeeee;"></div>
          </div>
        </div>

        <div class="info-user">
          <div style="display: flex;">
            <label for="">Indicação:</label>
            <div class="info" style="width: 160px; height: 20px; background-color: #eeeeee;"></div>
          </div>

          <div style="display: flex;">
            <label for="">Alergia:</label>
            <div class="info" style="width: 160px; height: 20px; background-color: #eeeeee;"></div>
          </div>
        </div>

        <div class="info-user">
          <div style="display: flex;">
            <label for="">Responsável:</label>
            <div class="info" style="width: 450px; height: 20px; background-color: #eeeeee;"></div>
          </div>
        </div>

        <div class="info-user">
          <div style="display: flex;">
            <label for="">Já participou de Pesq. Clínicas:</label>
            <div class="info" style="width: 60px; height: 20px;">[ ] [ ]</div>
          </div>

          <div style="display: flex;">
            <label for="">Qual:</label>
            <div class="info" style="width: 160px; height: 20px; background-color: #eeeeee;"></div>
          </div>
        </div>

        <div class="info-user">
          <div style="display: flex;">
            <label for="">Tem interesse de participar de Pesq. Clínicas:</label>
            <div class="info" style="width: 160px; height: 20px;">[ ] [ ]</div>
          </div>
        </div>

        <div class="info-user">
          <div style="display: flex;">
            <label for="">Fumanete:</label>
            <div class="info" style="width: 100px; height: 20px; background-color: #eeeeee;"></div>
          </div>

          <div style="display: flex;">
            <label for="">Desde/In:</label>
            <div class="info" style="width: 60px; height: 20px; background-color: #eeeeee;"></div>
          </div>

          <div style="display: flex;">
            <label for="">Maços:</label>
            <div class="info" style="width: 60px; height: 20px; background-color: #eeeeee;"></div>
          </div>

          <div style="display: flex;">
            <label for="">Parou quando:</label>
            <div class="info" style="width: 160px; height: 20px; background-color: #eeeeee;"></div>
          </div>
        </div>

        <div class="info-user">
          <div style="display: flex;">
            <label for="">Etilista:</label>
            <div class="info" style="width: 60px; height: 20px; background-color: #eeeeee;"></div>
          </div>

          <div style="display: flex;">
            <label for="">Outras:</label>
            <div class="info" style="width: 60px; height: 20px; background-color: #eeeeee;"></div>
          </div>

          <div style="display: flex;">
            <label for="">Peso:</label>
            <div class="info" style="width: 60px; height: 20px; background-color: #eeeeee;"></div>
          </div>

          <div style="display: flex;">
            <label for="">Altura:</label>
            <div class="info" style="width: 60px; height: 20px; background-color: #eeeeee;"></div>
          </div>

          <div style="display: flex;">
            <label for="">IMC:</label>
            <div class="info" style="width: 60px; height: 20px; background-color: #eeeeee;"></div>
          </div>
        </div>

        <div class="info-user">
          <div style="display: flex;">
            <label for="">Tem potencial:</label>
            <div class="info" style="width: 100px; height: 20px; background-color: #eeeeee;"></div>
          </div>

          <div style="display: flex;">
            <label for="">Método:</label>
            <div class="info" style="width: 100px; height: 20px; background-color: #eeeeee;"></div>
          </div>

          <div style="display: flex;">
            <label for="">Desde:</label>
            <div class="info" style="width: 100px; height: 20px; background-color: #eeeeee;"></div>
          </div>
        </div>
      </form>
    </section>

    <section class="monitoramento-contato">
      <p>Monitoramento do contato</p>

      <div style="display: flex;">
        <label for="">Autoriza atualização:</label>
        <div class="info" style="width: 160px; height: 20px; background-color: #eeeeee;"></div>
      </div>

      <section class="monitoramento-dados">
        <section class="info-dados">
          <div style="display: flex;">
            <label for="">Dados:</label>
            <div class="info" style="width: 60px; height: 20px;">[ ]</div>
          </div>

          <div style="display: flex;">
            <label for="">Status:</label>
            <div class="info" style="width: 130px; height: 20px; background-color: #eeeeee;"></div>
          </div>

          <div style="display: flex;">
            <label for="">Motivo:</label>
            <div class="info" style="width: 120px; height: 20px; background-color: #eeeeee;"></div>
          </div>

          <p>Silvia Pinheiro em 22/05/23 16:46</p>
        </section>

        <div class="campo-info" style="display: flex; margin: 20px 0px;">
          <label for="">No</label>
          <div>
            <div class="info" style="width: 715px; height: 50px; background-color: #eeeeee;"></div>
          </div>
        </div>
      </section>
    </section>

    <sectiom class="patrocina">
      <p>Patrocina</p>
      <div>
        <div class="info" style="width: 745px; height: 60px; background-color: #eeeeee;">KOWA/KOWA, ID: 00000</div>
      </div>
    </sectiom>

    <footer>
      <div class="emissao" style="display: flex; gap: 20px;">
        <h5>Data da emissão: 23/05/23</h5>
        <p style="font-size: 12px;">... VitaPrimo - Eficiência em sistemas para Pesquisa Médica - www.vitaprimo.com.br ...</p>
        <p>Página: 1</p>
      </div>
      <div class="emissao" style="display: flex; gap: 20px;">
        <p style="font-size: 14px;">Impresso por <span>SILVIA HELENA DOS SANTOS PINHEIRO</span></p>
        <p style="font-size: 12px;">ROTINA: RRSubEspPesqCaptacao</p>
      </div>
    </footer>
  </section>

  <!-- Page 2 -->
  <section class="container-page2">
    <header>
      <img src="#" alt="">
      <p>CEMEC - CENTRO MULTIDISCIPLINAR DE ESTUDOS CLINICOS LTDA - EPP</p>
    </header>

    <section class="section-teste">
      <div class="teste-teste-page2">
        <h3>TESTE TESTE 2</h3>
        <p>Captação - 23/05/23</p>
      </div>
    </section>

    <section class="container-doencas" style="display: flex;">
      <section class="left1">
        <section class="doencas-left">
          <p class="p-doenca" style="background-color: #eeeeee;">Cardiovascular</p>
          <section class="cardiovascular-left" style="display: flex; gap: 5px;">
            <div class="info-doencas">
              <div class="info-doenca">
                <label for="#">HAS</label>
                <div class="info" style="width: 110px; height: 20px; background-color: #eeeeee;"></div>
              </div>

              <div class="info-doenca" style="display: flex;">
                <label for="#">Dislipidemia</label>
                <div class="info" style="width: 110px; height: 20px; background-color: #eeeeee;"></div>
              </div>

              <div class="info-doenca" style="display: flex;">
                <label for="#">IAM</label>
                <div class="info" style="width: 110px; height: 20px; background-color: #eeeeee;"></div>
              </div>

              <div class="info-doenca" style="display: flex;">
                <label for="#">AVC</label>
                <div class="info" style="width: 110px; height: 20px; background-color: #eeeeee;"></div>
              </div>

              <div class="info-doenca" style="display: flex;">
                <label for="#">Obstrução</label>
                <div class="info" style="width: 110px; height: 20px; background-color: #eeeeee;"></div>
              </div>

              <div class="info-doenca" style="display: flex;">
                <label for="#">Insuficiência </label>
                <div class="info" style="width: 110px; height: 20px; background-color: #eeeeee;"></div>
              </div>

              <div class="info-doenca" style="display: flex;">
                <label for="#">Revascularização</label>
                <div class="info" style="width: 110px; height: 20px; background-color: #eeeeee;"></div>
              </div>

              <div class="info-doenca" style="display: flex;">
                <label for="#">Angioplastia </label>
                <div class="info" style="width: 110px; height: 20px; background-color: #eeeeee;"></div>
              </div>

              <div class="info-doenca" style="display: flex;">
                <label for="#">Obstrução</label>
                <div class="info" style="width: 110px; height: 20px; background-color: #eeeeee;"></div>
              </div>

              <div class="info-doenca" style="display: flex;">
                <label for="#">Amputação</label>
                <div class="info" style="width: 110px; height: 20px; background-color: #eeeeee;"></div>
              </div>
            </div>

            <div class="diagnos">
              <div class="info-doenca">
                <label for="#">Diagnós</label>
                <div class="info" style="width: 70px; height: 20px; background-color: #eeeeee;"></div>
              </div>

              <div class="info-doenca" style="display: flex;">
                <label for="#">Diagnós</label>
                <div class="info" style="width: 70px; height: 20px; background-color: #eeeeee;"></div>
              </div>

              <div class="info-doenca" style="display: flex;">
                <label for="#">Diagnós</label>
                <div class="info" style="width: 70px; height: 20px; background-color: #eeeeee;"></div>
              </div>

              <div class="info-doenca" style="display: flex;">
                <label for="#">Diagnós</label>
                <div class="info" style="width: 70px; height: 20px; background-color: #eeeeee;"></div>
              </div>

              <div class="info-doenca" style="display: flex;">
                <label for="#">Diagnós</label>
                <div class="info" style="width: 70px; height: 20px; background-color: #eeeeee;"></div>
              </div>

              <div class="info-doenca" style="display: flex;">
                <label for="#">Diagnós </label>
                <div class="info" style="width: 70px; height: 20px; background-color: #eeeeee;"></div>
              </div>

              <div class="info-doenca" style="display: flex;">
                <label for="#">Diagnós</label>
                <div class="info" style="width: 70px; height: 20px; background-color: #eeeeee;"></div>
              </div>

              <div class="info-doenca" style="display: flex;">
                <label for="#">Diagnós </label>
                <div class="info" style="width: 70px; height: 20px; background-color: #eeeeee;"></div>
              </div>

              <div class="info-doenca" style="display: flex;">
                <label for="#">Diagnós</label>
                <div class="info" style="width: 70px; height: 20px; background-color: #eeeeee;"></div>
              </div>

              <div class="info-doenca" style="display: flex;">
                <label for="#">Diagnós</label>
                <div class="info" style="width: 70px; height: 20px; background-color: #eeeeee;"></div>
              </div>
            </div>

          </section>

          <p class="p-doenca" style="background-color: #eeeeee;">PNEUMO</p>
          <section class="cardiovascular-left" style="display: flex; gap: 5px;">
            <div class="info-doencas">
              <div class="info-doenca">
                <label for="#">Asma</label>
                <div class="info" style="width: 110px; height: 20px; background-color: #eeeeee;"></div>
              </div>

              <div class="info-doenca" style="display: flex;">
                <label for="#">Bronquite</label>
                <div class="info" style="width: 110px; height: 20px; background-color: #eeeeee;"></div>
              </div>

              <div class="info-doenca" style="display: flex;">
                <label for="#">DPOC</label>
                <div class="info" style="width: 110px; height: 20px; background-color: #eeeeee;"></div>
              </div>

              <div class="info-doenca" style="display: flex;">
                <label for="#">Rinite Alérgica</label>
                <div class="info" style="width: 110px; height: 20px; background-color: #eeeeee;"></div>
              </div>

              <div class="info-doenca" style="display: flex;">
                <label for="#">Tuberculose</label>
                <div class="info" style="width: 110px; height: 20px; background-color: #eeeeee;"></div>
              </div>

              <div class="info-doenca" style="display: flex;">
                <label for="#">Fibrose </label>
                <div class="info" style="width: 110px; height: 20px; background-color: #eeeeee;"></div>
              </div>

            </div>

            <div class="diagnos">
              <div class="info-doenca">
                <label for="#">Diagnós</label>
                <div class="info" style="width: 90px; height: 20px; background-color: #eeeeee;"></div>
              </div>

              <div class="info-doenca" style="display: flex;">
                <label for="#">Diagnós</label>
                <div class="info" style="width: 90px; height: 20px; background-color: #eeeeee;"></div>
              </div>

              <div class="info-doenca" style="display: flex;">
                <label for="#">Diagnós</label>
                <div class="info" style="width: 90px; height: 20px; background-color: #eeeeee;"></div>
              </div>

              <div class="info-doenca" style="display: flex;">
                <label for="#">Diagnós</label>
                <div class="info" style="width: 90px; height: 20px; background-color: #eeeeee;"></div>
              </div>

              <div class="info-doenca" style="display: flex;">
                <label for="#">Diagnós</label>
                <div class="info" style="width: 90px; height: 20px; background-color: #eeeeee;"></div>
              </div>

              <div class="info-doenca" style="display: flex;">
                <label for="#">Diagnós </label>
                <div class="info" style="width: 90px; height: 20px; background-color: #eeeeee;"></div>
              </div>

            </div>

          </section>

          <p class="p-doenca" style="background-color: #eeeeee;">NEFRO</p>
          <section class="cardiovascular-left" style="display: flex; gap: 5px;">
            <div class="info-doencas">
              <div class="info-doenca">
                <label for="#">Doença Renal </label>
                <div class="info" style="width: 110px; height: 20px; background-color: #eeeeee;"></div>
              </div>

              <div class="info-doenca" style="display: flex;">
                <label for="#">História de </label>
                <div class="info" style="width: 110px; height: 20px; background-color: #eeeeee;"></div>
              </div>

              <div class="info-doenca" style="display: flex;">
                <label for="#">Cálculo Renal</label>
                <div class="info" style="width: 110px; height: 20px; background-color: #eeeeee;"></div>
              </div>

            </div>

            <div class="diagnos">
              <div class="info-doenca">
                <label for="#">Diagnós</label>
                <div class="info" style="width: 90px; height: 20px; background-color: #eeeeee;"></div>
              </div>

              <div class="info-doenca" style="display: flex;">
                <label for="#">Diagnós</label>
                <div class="info" style="width: 90px; height: 20px; background-color: #eeeeee;"></div>
              </div>

              <div class="info-doenca" style="display: flex;">
                <label for="#">Diagnós</label>
                <div class="info" style="width: 90px; height: 20px; background-color: #eeeeee;"></div>
              </div>

            </div>

          </section>

          <p class="p-doenca" style="background-color: #eeeeee;">REUMATO</p>
          <section class="cardiovascular-left" style="display: flex; gap: 5px;">
            <div class="info-doencas">
              <div class="info-doenca">
                <label for="#">Artrose </label>
                <div class="info" style="width: 110px; height: 20px; background-color: #eeeeee;"></div>
              </div>

              <div class="info-doenca" style="display: flex;">
                <label for="#">Artrite R </label>
                <div class="info" style="width: 110px; height: 20px; background-color: #eeeeee;"></div>
              </div>

              <div class="info-doenca" style="display: flex;">
                <label for="#">Lúpus</label>
                <div class="info" style="width: 110px; height: 20px; background-color: #eeeeee;"></div>
              </div>

              <div class="info-doenca" style="display: flex;">
                <label for="#">Artrite P</label>
                <div class="info" style="width: 110px; height: 20px; background-color: #eeeeee;"></div>
              </div>

              <div class="info-doenca" style="display: flex;">
                <label for="#">Fibromialgia </label>
                <div class="info" style="width: 110px; height: 20px; background-color: #eeeeee;"></div>
              </div>

            </div>

            <div class="diagnos">
              <div class="info-doenca">
                <label for="#">Diagnós</label>
                <div class="info" style="width: 90px; height: 20px; background-color: #eeeeee;"></div>
              </div>

              <div class="info-doenca" style="display: flex;">
                <label for="#">Diagnós</label>
                <div class="info" style="width: 90px; height: 20px; background-color: #eeeeee;"></div>
              </div>

              <div class="info-doenca" style="display: flex;">
                <label for="#">Diagnós</label>
                <div class="info" style="width: 90px; height: 20px; background-color: #eeeeee;"></div>
              </div>

              <div class="info-doenca" style="display: flex;">
                <label for="#">Diagnós</label>
                <div class="info" style="width: 90px; height: 20px; background-color: #eeeeee;"></div>
              </div>

              <div class="info-doenca" style="display: flex;">
                <label for="#">Diagnós</label>
                <div class="info" style="width: 90px; height: 20px; background-color: #eeeeee;"></div>
              </div>

            </div>

          </section>

        </section>
      </section>

      <section class="right">
        <section class="doencas-right">
          <section class="endócrino-right">
            <p class="p-doenca" style="background-color: #eeeeee;">ENDÓCRINO</p>
            <section class="cardiovascular-left" style="display: flex; gap: 5px;">
              <div class="info-doencas">
                <div class="info-doenca">
                  <label for="#">Pé DM </label>
                  <div class="info" style="width: 110px; height: 20px; background-color: #eeeeee;"></div>
                </div>

                <div class="info-doenca" style="display: flex;">
                  <label for="#">DM 1 </label>
                  <div class="info" style="width: 110px; height: 20px; background-color: #eeeeee;"></div>
                </div>

                <div class="info-doenca" style="display: flex;">
                  <label for="#">DM 2</label>
                  <div class="info" style="width: 110px; height: 20px; background-color: #eeeeee;"></div>
                </div>

                <div class="info-doenca" style="display: flex;">
                  <label for="#">Hipertireoidis</label>
                  <div class="info" style="width: 110px; height: 20px; background-color: #eeeeee;"></div>
                </div>

                <div class="info-doenca" style="display: flex;">
                  <label for="#">Hipotireoidism</label>
                  <div class="info" style="width: 110px; height: 20px; background-color: #eeeeee;"></div>
                </div>

                <div class="info-doenca" style="display: flex;">
                  <label for="#">Histórico DM</label>
                  <div class="info" style="width: 110px; height: 20px; background-color: #eeeeee;"></div>
                </div>

              </div>

              <div class="diagnos">
                <div class="info-doenca">
                  <label for="#">Diagnós</label>
                  <div class="info" style="width: 90px; height: 20px; background-color: #eeeeee;"></div>
                </div>

                <div class="info-doenca" style="display: flex;">
                  <label for="#">Diagnós</label>
                  <div class="info" style="width: 90px; height: 20px; background-color: #eeeeee;"></div>
                </div>

                <div class="info-doenca" style="display: flex;">
                  <label for="#">Diagnós</label>
                  <div class="info" style="width: 90px; height: 20px; background-color: #eeeeee;"></div>
                </div>

                <div class="info-doenca" style="display: flex;">
                  <label for="#">Diagnós</label>
                  <div class="info" style="width: 90px; height: 20px; background-color: #eeeeee;"></div>
                </div>

                <div class="info-doenca" style="display: flex;">
                  <label for="#">Diagnós</label>
                  <div class="info" style="width: 90px; height: 20px; background-color: #eeeeee;"></div>
                </div>

                <div class="info-doenca" style="display: flex;">
                  <label for="#">Parente</label>
                  <div class="info" style="width: 90px; height: 20px; background-color: #eeeeee;"></div>
                </div>

              </div>

            </section>

            <p class="p-doenca" style="background-color: #eeeeee;">DERMATO</p>
            <section class="cardiovascular-left" style="display: flex; gap: 5px;">
              <div class="info-doencas">
                <div class="info-doenca">
                  <label for="#">Psoriase</label>
                  <div class="info" style="width: 110px; height: 20px; background-color: #eeeeee;"></div>
                </div>

                <div class="info-doenca" style="display: flex;">
                  <label for="#">Dermatite</label>
                  <div class="info" style="width: 110px; height: 20px; background-color: #eeeeee;"></div>
                </div>

                <div class="info-doenca" style="display: flex;">
                  <label for="#">Hanseniase</label>
                  <div class="info" style="width: 110px; height: 20px; background-color: #eeeeee;"></div>
                </div>

                <div class="info-doenca" style="display: flex;">
                  <label for="#">Hidradenite</label>
                  <div class="info" style="width: 110px; height: 20px; background-color: #eeeeee;"></div>
                </div>

                <div class="info-doenca" style="display: flex;">
                  <label for="#">Urticária</label>
                  <div class="info" style="width: 110px; height: 20px; background-color: #eeeeee;"></div>
                </div>

              </div>

              <div class="diagnos">
                <div class="info-doenca">
                  <label for="#">Diagnós</label>
                  <div class="info" style="width: 90px; height: 20px; background-color: #eeeeee;"></div>
                </div>

                <div class="info-doenca" style="display: flex;">
                  <label for="#">Diagnós</label>
                  <div class="info" style="width: 90px; height: 20px; background-color: #eeeeee;"></div>
                </div>

                <div class="info-doenca" style="display: flex;">
                  <label for="#">Diagnós</label>
                  <div class="info" style="width: 90px; height: 20px; background-color: #eeeeee;"></div>
                </div>

                <div class="info-doenca" style="display: flex;">
                  <label for="#">Diagnós</label>
                  <div class="info" style="width: 90px; height: 20px; background-color: #eeeeee;"></div>
                </div>

                <div class="info-doenca" style="display: flex;">
                  <label for="#">Diagnós</label>
                  <div class="info" style="width: 90px; height: 20px; background-color: #eeeeee;"></div>
                </div>

              </div>

            </section>

            <p class="p-doenca" style="background-color: #eeeeee;">OFTALMO</p>
            <section class="cardiovascular-left" style="display: flex; gap: 5px;">
              <div class="info-doencas">
                <div class="info-doenca">
                  <label for="#">Retinopatia</label>
                  <div class="info" style="width: 110px; height: 20px; background-color: #eeeeee;"></div>
                </div>

                <div class="info-doenca" style="display: flex;">
                  <label for="#">Catarata</label>
                  <div class="info" style="width: 110px; height: 20px; background-color: #eeeeee;"></div>
                </div>

                <div class="info-doenca" style="display: flex;">
                  <label for="#">Gaucoma</label>
                  <div class="info" style="width: 110px; height: 20px; background-color: #eeeeee;"></div>
                </div>

              </div>

              <div class="diagnos">
                <div class="info-doenca">
                  <label for="#">Diagnós</label>
                  <div class="info" style="width: 90px; height: 20px; background-color: #eeeeee;"></div>
                </div>

                <div class="info-doenca" style="display: flex;">
                  <label for="#">Diagnós</label>
                  <div class="info" style="width: 90px; height: 20px; background-color: #eeeeee;"></div>
                </div>

              </div>

            </section>

            <p class="p-doenca" style="background-color: #eeeeee;">GASTRO</p>
            <section class="cardiovascular-left" style="display: flex; gap: 5px;">
              <div class="info-doencas">
                <div class="info-doenca">
                  <label for="#">Gastrite</label>
                  <div class="info" style="width: 110px; height: 20px; background-color: #eeeeee;"></div>
                </div>

                <div class="info-doenca" style="display: flex;">
                  <label for="#">Doença de </label>
                  <div class="info" style="width: 110px; height: 20px; background-color: #eeeeee;"></div>
                </div>

                <div class="info-doenca" style="display: flex;">
                  <label for="#">Colite</label>
                  <div class="info" style="width: 110px; height: 20px; background-color: #eeeeee;"></div>
                </div>

                <div class="info-doenca" style="display: flex;">
                  <label for="#">Dispepsia</label>
                  <div class="info" style="width: 110px; height: 20px; background-color: #eeeeee;"></div>
                </div>

              </div>

              <div class="diagnos">
                <div class="info-doenca">
                  <label for="#">Diagnós</label>
                  <div class="info" style="width: 90px; height: 20px; background-color: #eeeeee;"></div>
                </div>

                <div class="info-doenca" style="display: flex;">
                  <label for="#">Diagnós</label>
                  <div class="info" style="width: 90px; height: 20px; background-color: #eeeeee;"></div>
                </div>

                <div class="info-doenca" style="display: flex;">
                  <label for="#">Diagnós</label>
                  <div class="info" style="width: 90px; height: 20px; background-color: #eeeeee;"></div>
                </div>

                <div class="info-doenca" style="display: flex;">
                  <label for="#">Diagnós</label>
                  <div class="info" style="width: 90px; height: 20px; background-color: #eeeeee;"></div>
                </div>

              </div>

            </section>

            <p class="p-doenca" style="background-color: #eeeeee;">GINECO</p>
            <section class="cardiovascular-left" style="display: flex; gap: 5px;">
              <div class="info-doencas">
                <div class="info-doenca">
                  <label for="#">Endometriose</label>
                  <div class="info" style="width: 110px; height: 20px; background-color: #eeeeee;"></div>
                </div>

                <div class="info-doenca" style="display: flex;">
                  <label for="#">Ovário</label>
                  <div class="info" style="width: 110px; height: 20px; background-color: #eeeeee;"></div>
                </div>

                <div class="info-doenca" style="display: flex;">
                  <label for="#">Mioma</label>
                  <div class="info" style="width: 110px; height: 20px; background-color: #eeeeee;"></div>
                </div>

                <div class="info-doenca" style="display: flex;">
                  <label for="#">Osteoporose</label>
                  <div class="info" style="width: 110px; height: 20px; background-color: #eeeeee;"></div>
                </div>

              </div>

              <div class="diagnos">
                <div class="info-doenca">
                  <label for="#">Diagnós</label>
                  <div class="info" style="width: 90px; height: 20px; background-color: #eeeeee;"></div>
                </div>

                <div class="info-doenca" style="display: flex;">
                  <label for="#">Diagnós</label>
                  <div class="info" style="width: 90px; height: 20px; background-color: #eeeeee;"></div>
                </div>

                <div class="info-doenca" style="display: flex;">
                  <label for="#">Diagnós</label>
                  <div class="info" style="width: 90px; height: 20px; background-color: #eeeeee;"></div>
                </div>

                <div class="info-doenca" style="display: flex;">
                  <label for="#">Diagnós</label>
                  <div class="info" style="width: 90px; height: 20px; background-color: #eeeeee;"></div>
                </div>
              </div>
            </section>

          </section>

        </section>

      </section>
    </section>


    <p class="p-doenca" style="background-color: #eeeeee;">OUTRAS INFORMAÇÕES</p>
    <section class="outras-info" style="display: flex;">

      <section class="cardiovascular-left outras-info-border" style="display: flex; gap: 5px;">
        <div class="info-doencas">
          <div class="info-doenca">
            <label for="#">Lombalgia</label>
            <div class="info" style="width: 110px; height: 20px; background-color: #eeeeee;"></div>
          </div>

          <div class="info-doenca" style="display: flex;">
            <label for="#">Depressão</label>
            <div class="info" style="width: 110px; height: 20px; background-color: #eeeeee;"></div>
          </div>

          <div class="info-doenca" style="display: flex;">
            <label for="#">Histórico de</label>
            <div class="info" style="width: 110px; height: 20px; background-color: #eeeeee;"></div>
          </div>

          <div class="info-doenca" style="display: flex;">
            <label for="#">Dor</label>
            <div class="info" style="width: 110px; height: 20px; background-color: #eeeeee;"></div>
          </div>

        </div>

        <div class="diagnos">
          <div class="info-doenca">
            <label for="#">Diagnós</label>
            <div class="info" style="width: 90px; height: 20px; background-color: #eeeeee;"></div>
          </div>

          <div class="info-doenca" style="display: flex;">
            <label for="#">Diagnós</label>
            <div class="info" style="width: 90px; height: 20px; background-color: #eeeeee;"></div>
          </div>

          <div class="info-doenca" style="display: flex;">
            <label for="#">Diagnós</label>
            <div class="info" style="width: 90px; height: 20px; background-color: #eeeeee;"></div>
          </div>

          <div class="info-doenca" style="display: flex;">
            <label for="#">Diagnós</label>
            <div class="info" style="width: 90px; height: 20px; background-color: #eeeeee;"></div>
          </div>

        </div>
      </section>

      <section class="cardiovascular-left" style="display: flex; gap: 5px;">
        <div class="info-doencas">
          <div class="info-doenca">
            <label for="#">HIV</label>
            <div class="info" style="width: 110px; height: 20px; background-color: #eeeeee;"></div>
          </div>

          <div class="info-doenca" style="display: flex;">
            <label for="#">Hepatite</label>
            <div class="info" style="width: 110px; height: 20px; background-color: #eeeeee;"></div>
          </div>

          <div class="info-doenca" style="display: flex;">
            <label for="#">Tendinite</label>
            <div class="info" style="width: 110px; height: 20px; background-color: #eeeeee;"></div>
          </div>

        </div>

        <div class="diagnos">
          <div class="info-doenca">
            <label for="#">Diagnós</label>
            <div class="info" style="width: 90px; height: 20px; background-color: #eeeeee;"></div>
          </div>

          <div class="info-doenca" style="display: flex;">
            <label for="#">Diagnós</label>
            <div class="info" style="width: 90px; height: 20px; background-color: #eeeeee;"></div>
          </div>

          <div class="info-doenca" style="display: flex;">
            <label for="#">Diagnós</label>
            <div class="info" style="width: 90px; height: 20px; background-color: #eeeeee;"></div>
          </div>

          <div class="info-doenca" style="display: flex;">
            <label for="#">Ti</label>
            <div class="info" style="width: 90px; height: 20px; background-color: #eeeeee;"></div>
          </div>

        </div>
      </section>
    </section>

    <div class="cadeirante" style="display: flex; gap: 70px;">
      <div style="display: flex; gap: 5px;">
        <label for="#">Dificuldade de locomoção</label>
        <div class="info" style="width: 90px; height: 20px; background-color: #eeeeee;"></div>
      </div>

      <div style="display: flex; gap: 5px;">
        <label for="#">Cadeirante</label>
        <div class="info" style="width: 90px; height: 20px; background-color: #eeeeee;"></div>
      </div>

      <div style="display: flex; gap: 5px;">
        <label for="#">Precisa</label>
        <div class="info" style="width: 90px; height: 20px; background-color: #eeeeee;"></div>
      </div>
    </div>

    <footer>
      <div class="emissao" style="display: flex; gap: 20px;">
        <h5>Data da emissão: 23/05/23</h5>
        <p style="font-size: 12px;">... VitaPrimo - Eficiência em sistemas para Pesquisa Médica - www.vitaprimo.com.br ...</p>
        <p>Página: 2</p>
      </div>
      <div class="emissao" style="display: flex; gap: 20px;">
        <p style="font-size: 14px;">Impresso por <span>SILVIA HELENA DOS SANTOS PINHEIRO</span></p>
        <p style="font-size: 12px;">ROTINA: RRSubEspPesqCaptacao</p>
      </div>
    </footer>
  </section>

  <!-- Page 3 -->

  <section class="container-page3">
    <header>
      <img src="#" alt="">
      <p>CEMEC - CENTRO MULTIDISCIPLINAR DE ESTUDOS CLINICOS LTDA - EPP</p>
    </header>

    <section class="section-teste">
      <div class="teste-teste-page2">
        <h3>TESTE TESTE 2</h3>
        <p>Captação - 23/05/23</p>
      </div>
    </section>

    <section class="consulta-e-observacao">
      <div style="display: flex; flex-direction: column; gap: 5px; margin-bottom: 15px; margin-top: 10px;">
        <label for="#">Consulta</label>
        <div class="info" style="width: 745px; height: 100px; background-color: #eeeeee;"></div>
      </div>
      <div style="display: flex; flex-direction: column; gap: 5px;">
        <label for="#">Observação</label>
        <div class="info" style="width: 745px; height: 100px; background-color: #eeeeee;"></div>
      </div>
    </section>

    <section class="container-consulta-observacao" ">
      <section class=" left" style="border-top: 2px solid black;">
      <p class="p-doenca" style="background-color: #eeeeee;">CA MAMA</p>
      <section class="ca-mama" style="padding: 15px; margin-top: 15px;">

        <div class="doencas" style="display: flex; justify-content: space-between;">
          <div class="info-doencas" style="display: flex;">
            <div class="info" style="width: 100px; height: 20px; background-color: #eeeeee;"></div>
          </div>

          <div class="info-doencas" style="display: flex;">
            <label for="#">Diagnós</label>
            <div class="info" style="width: 100px; height: 20px; background-color: #eeeeee;"></div>
          </div>

          <div style="display: flex; ">
            <div class="info-doencas" style="display: flex;">
              <label for="#">Invasivo</label>
              <div class="info" style="width: 100px; height: 20px;">[ ]</div>
            </div>
            <div class="info-doencas" style="display: flex;">
              <label for="#">Ductal in situ</label>
              <div class="info" style="width: 100px; height: 20px;">[ ]</div>
            </div>
          </div>
        </div>

        <div class="doencas" style="display: flex;">
          <div class="info-doencas" style="display: flex;">
            <label for="#">Gráu</label>
            <div class="info" style="width: 100px; height: 20px;">[ ] 0</div>
            <div class="info" style="width: 100px; height: 20px;">[ ] 1</div>
            <div class="info" style="width: 100px; height: 20px;">[ ] 2</div>
            <div class="info" style="width: 100px; height: 20px;">[ ] 3</div>
            <div class="info" style="width: 100px; height: 20px;">[ ] 4</div>
          </div>

          <div style="display: flex; ">
            <div class="info-doencas" style="display: flex;">
              <label for="#">KI67</label>
              <div class="info" style="width: 100px; height: 20px;">[ ] > 20</div>
              <div class="info" style="width: 100px; height: 20px;">[ ] < 20</div>
              </div>
            </div>
          </div>
      </section>

      <p class="p-doenca" style="background-color: #eeeeee;">CA PULMÃO</p>
      <section class="ca-mama" style="padding: 15px; margin-top: 15px;">

        <div class="doencas" style="display: flex; justify-content: space-between; ">
          <div class="info-doencas" style="display: flex;">
            <div class="info" style="width: 200px; height: 20px; background-color: #eeeeee;"></div>
          </div>

          <div class="info-doencas" style="display: flex;">
            <label for="#">Diagnós</label>
            <div class="info" style="width: 200px; height: 20px; background-color: #eeeeee;"></div>
          </div>

          <div class="info-doencas" style="display: flex; width: 100px;">
            <div class="info" style="width: 60px; height: 20px;">[ ]</div>
            <div class="info" style="width: 60px; height: 20px;">[ ]</div>
          </div>
        </div>

        <div class="doencas" style="display: flex; justify-content: space-between;">
          <div class="info-doencas" style="display: flex; gap: 5px;">
            <label for="#">Mutaç</label>
            <div class="info" style="width: 100px; height: 20px;">[ ] Sim</div>
            <div class="info" style="width: 100px; height: 20px;">[ ] Não</div>
          </div>

          <div style="display: flex; ">
            <div class="info-doencas" style="display: flex;">
              <label for="#">PDL1</label>
              <div class="info" style="width: 100px; height: 20px;">[ ] Sim</div>
              <div class="info" style="width: 100px; height: 20px;">[ ] Não</div>
            </div>
          </div>
        </div>
      </section>

      <p class="p-doenca" style="background-color: #eeeeee;">CA CABEÇA E PESOCOÇO</p>
      <section class="ca-mama" style="padding: 15px; border-bottom: 2px solid black; margin-top: 5px;">

        <div class="doencas" style="display: flex; justify-content: space-between; ">
          <div class="info-doencas" style="display: flex;">
            <div class="info" style="width: 150px; height: 20px; background-color: #eeeeee;"></div>
          </div>

          <div class="info-doencas" style="display: flex;">
            <label for="#">Diagnós</label>
            <div class="info" style="width: 150px; height: 20px; background-color: #eeeeee;"></div>
          </div>
        </div>

        <div class="doencas" style="display: flex; justify-content: space-between;">
          <div class="info-doencas" style="display: flex; gap: 5px; justify-content: space-between;">
            <div class="info" style="width: 140px; height: 20px;">[ ]Células escamosas</div>
            <div class="info-doencas" style="display: flex;">
              <label for="#">HPV</label>
              <div class="info" style="width: 100px; height: 20px;">[ ] Sim</div>
              <div class="info" style="width: 100px; height: 20px;">[ ] Não</div>
            </div>
          </div>

        </div>
      </section>



      <p class="p-doenca" style="background-color: #eeeeee;">CA PROSTATA</p>
      <section class="ca-prostata" style="padding: 15px; margin-top: 5px;">
        <div class="container-prostata" style="display: flex; justify-content: space-between;">
          <div style="width: 200px; height: 20px; background-color: #eeeeee;"></div>

          <div style="display: flex;">
            <label for="#">Diagnós</label>
            <div style="width: 200px; height: 20px; background-color: #eeeeee;"></div>
          </div>
        </div>

        <div class="container-prostata" style="display: flex; justify-content: space-between; margin-top: 10px;">
          <div style="display: flex;">
            <label for="#"> Sensível a castração</label>
            <div class="info" style="width: 100px; height: 20px;">[ ]</div>
          </div>

          <div style="display: flex;">
            <label for="#"> Resistente a castração</label>
            <div class="info" style="width: 100px; height: 20px;">[ ]</div>
          </div>
        </div>

        <div class="container-prostata" style="display: flex; justify-content: space-between; margin-top: 10px;">
          <div style="display: flex;">
            <label for="#">Gleason</label>
            <div class="info" style="width: 100px; height: 20px;">[ ]</div>
          </div>

          <div style="display: flex;">
            <div class="info" style="height: 20px;">[ ]</div>
            <label for="#"> >=B</label>
          </div>

          <div style="display: flex;">
            <div class="info" style="height: 20px;">[ ]</div>
            <label for="#">
              <=B </label>
          </div>
        </div>
      </section>

      <p class="p-doenca" style="background-color: #eeeeee;">CA BEXIGA</p>
      <section class="ca-prostata" style="padding: 15px; border-bottom: 2px solid black; margin-top: 5px;">
        <div class="container-prostata" style="display: flex; justify-content: space-between;">
          <div style="width: 200px; height: 20px; background-color: #eeeeee;"></div>

          <div style="display: flex; gap: 5px;">
            <label for="#">Diagnós</label>
            <div style="width: 200px; height: 20px; background-color: #eeeeee;"></div>
          </div>
        </div>

        <div class="container-prostata" style="display: flex; justify-content: space-between; margin-top: 10px;">
          <div style="display: flex; gap: 5px;">
            <label for="#">PDL1</label>
            <div class="info" style="width: 100px; height: 20px;">[ ]</div>
          </div>

          <div style="display: flex; gap: 5px;">
            <label for="#">Mutação FGFR</label>
            <div class="info" style="width: 100px; height: 20px;">[ ]</div>
          </div>
        </div>

        </div>
      </section>

      <p class="p-doenca" style="background-color: #eeeeee;">RECEPTORES</p>
      <section class="ca-prostata" style="padding: 15px;  margin-top: 5px;">

        <div class="container-prostata" style="display: flex; justify-content: space-between; margin-top: 10px;">
          <div style="display: flex; gap: 5px;">
            <label for="#">HER 2 POSITIVO</label>
            <div class="info" style="width: 20px; height: 20px;">[ ]</div>
          </div>

          <div style="display: flex; gap: 5px;">
            <label for="#">HER 2 POSITIVO</label>
            <div class="info" style="width: 20px; height: 20px;">[ ]</div>
          </div>

          <div style="display: flex; gap: 5px;">
            <label for="#">TRIPLO NEGATIVO</label>
            <div class="info" style="width: 20px; height: 20px;">[ ]</div>
          </div>
        </div>

        <div class="container-prostata" style="display: flex; justify-content: space-between; margin-top: 10px;">
          <div style="display: flex; gap: 5px;">
            <label for="#">RECEPTOR HORMONAL</label>
            <div class="info" style="width: 20px; height: 20px;">[ ]</div>
          </div>

      </section>

      <p class="p-doenca" style="background-color: #eeeeee;">TIPO</p>
      <section class="ca-prostata" style="padding: 15px; border-bottom: 2px solid black; margin-top: 5px;">

        <div class="container-prostata" style="display: flex; justify-content: space-between; margin-top: 10px;">
          <div style="display: flex; gap: 5px;">
            <label for="#">INICIAL</label>
            <div class="info" style="width: 20px; height: 20px;">[ ]</div>
          </div>

          <div style="display: flex; gap: 5px;">
            <label for="#">LOCALMENTE AVANÇADO</label>
            <div class="info" style="width: 20px; height: 20px;">[ ]</div>
          </div>

          <div style="display: flex; gap: 5px;">
            <label for="#">IRRESSECÁVEL</label>
            <div class="info" style="width: 20px; height: 20px;">[ ]</div>
          </div>
        </div>

        <div class="container-prostata" style="display: flex; justify-content: space-between; margin-top: 10px;">
          <div style="display: flex; gap: 5px;">
            <div class="info" style="width: 20px; height: 20px;">[ ]</div>
            <label for="#">MESTÁTICO - LOCAL:</label>
          </div>
        </div>

        <div class="container-prostata" style="display: flex; justify-content: space-between; margin-top: 10px; flex-direction: column;">
          <div style="display: flex; gap: 5px;">
            <div class="info" style="width: 20px; height: 20px; margin-left: 25px;">[ ]</div>
            <label for="#">Osso</label>
          </div>
          <div style="display: flex; gap: 5px;">
            <div class="info" style="width: 20px; height: 20px; margin-left: 25px;">[ ]</div>
            <label for="#">Pulmão</label>
          </div>
          <div style="display: flex; gap: 5px;">
            <div class="info" style="width: 20px; height: 20px; margin-left: 25px;">[ ]</div>
            <label for="#">Cérebro</label>
          </div>
          <div style="display: flex; gap: 5px;">
            <div class="info" style="width: 20px; height: 20px; margin-left: 25px;">[ ]</div>
            <label for="#">Fígado</label>
          </div>
          <div style="display: flex; gap: 5px;">
            <div class="info" style="width: 20px; height: 20px; margin-left: 25px;">[ ]</div>
            <label for="#">Peritônio</label>
          </div>
          <div style="display: flex; gap: 5px;">
            <div class="info" style="width: 20px; height: 20px; margin-left: 25px;">[ ]</div>
            <label for="#">Rim</label>
          </div>
          <div style="display: flex; gap: 5px;">
            <div class="info" style="width: 20px; height: 20px; margin-left: 25px;">[ ]</div>
            <label for="#">Pele</label>
          </div>
          <div style="display: flex; gap: 5px;">
            <div class="info" style="width: 20px; height: 20px; margin-left: 25px;">[ ]</div>
            <label for="#">Outros</label>
          </div>
        </div>
      </section>

      <p class="p-doenca" style="background-color: #eeeeee;">CA GASTROINTESTINAL</p>
      <section class="outras-info" style="display: flex; border-bottom: 2px solid black;">
        <section class="cardiovascular-left outras-info-border" style="display: flex; gap: 50px; justify-content: space-between;">
          <div class="info-doencas">
            <div class="info-doenca">
              <label for="#">CA ÂNUS</label>
              <div class="info" style="width: 170px; height: 20px; background-color: #eeeeee;"></div>
            </div>

            <div class="info-doenca" style="display: flex;">
              <label for="#">CA INTESTINO</label>
              <div class="info" style="width: 170px; height: 20px; background-color: #eeeeee;"></div>
            </div>

            <div class="info-doenca" style="display: flex;">
              <label for="#">CA ESÔFAGO</label>
              <div class="info" style="width: 170px; height: 20px; background-color: #eeeeee;"></div>
            </div>

            <div class="info-doenca" style="display: flex;">
              <label for="#">CA ESTÔMAGO</label>
              <div class="info" style="width: 170px; height: 20px; background-color: #eeeeee;"></div>
            </div>

            <div class="info-doenca" style="display: flex;">
              <label for="#">CA FÍGADO</label>
              <div class="info" style="width: 170px; height: 20px; background-color: #eeeeee;"></div>
            </div>

            <div class="info-doenca" style="display: flex;">
              <label for="#">CA VESÍCULA</label>
              <div class="info" style="width: 170px; height: 20px; background-color: #eeeeee;"></div>
            </div>

            <div class="info-doenca" style="display: flex;">
              <label for="#">PANCREAS</label>
              <div class="info" style="width: 170px; height: 20px; background-color: #eeeeee;"></div>
            </div>

            <div class="info-doenca" style="display: flex;">
              <label for="#">COLANGIO</label>
              <div class="info" style="width: 170px; height: 20px; background-color: #eeeeee;"></div>
            </div>

          </div>

          <div class="diagnos">
            <div class="info-doenca">
              <label for="#">Diagnós</label>
              <div class="info" style="width: 150px; height: 20px; background-color: #eeeeee;"></div>
            </div>

            <div class="info-doenca" style="display: flex;">
              <label for="#">Diagnós</label>
              <div class="info" style="width: 150px; height: 20px; background-color: #eeeeee;"></div>
            </div>

            <div class="info-doenca" style="display: flex;">
              <label for="#">Diagnós</label>
              <div class="info" style="width: 150px; height: 20px; background-color: #eeeeee;"></div>
            </div>

            <div class="info-doenca" style="display: flex;">
              <label for="#">Diagnós</label>
              <div class="info" style="width: 150px; height: 20px; background-color: #eeeeee;"></div>
            </div>

            <div class="info-doenca" style="display: flex;">
              <label for="#">Diagnós</label>
              <div class="info" style="width: 150px; height: 20px; background-color: #eeeeee;"></div>
            </div>

            <div class="info-doenca" style="display: flex;">
              <label for="#">Diagnós</label>
              <div class="info" style="width: 150px; height: 20px; background-color: #eeeeee;"></div>
            </div>

            <div class="info-doenca" style="display: flex;">
              <label for="#">Diagnós</label>
              <div class="info" style="width: 150px; height: 20px; background-color: #eeeeee;"></div>
            </div>

            <div class="info-doenca" style="display: flex;">
              <label for="#">Diagnós</label>
              <div class="info" style="width: 150px; height: 20px; background-color: #eeeeee;"></div>
            </div>
          </div>
        </section>
      </section>

      <p class="p-doenca" style="background-color: #eeeeee;">CA RIM</p>
      <section class="ca-prostata" style="padding: 15px;  margin-top: 5px; border-bottom: 2px solid black;">

        <div class="container-prostata" style="display: flex; justify-content: space-between;">
          <div style="width: 200px; height: 20px; background-color: #eeeeee;"></div>

          <div style="display: flex; gap: 5px;">
            <label for="#">Diagnós</label>
            <div style="width: 200px; height: 20px; background-color: #eeeeee;"></div>
          </div>
        </div>

        <div class="container-prostata" style="display: flex; justify-content: space-between; margin-top: 10px;">
          <div style="display: flex; gap: 5px;">
            <label for="#">Células claras</label>
            <div class="info" style="width: 20px; height: 20px;">[ ]</div>
          </div>

          <div style="display: flex; gap: 5px;">
            <label for="#">Não classificado</label>
            <div class="info" style="width: 20px; height: 20px;">[ ]</div>
          </div>
        </div>

        <div class="container-prostata" style="display: flex; justify-content: space-between; margin-top: 10px;">
          <div style="display: flex; gap: 5px;">
            <label for="#">Infiltração</label>
          </div>

          <div style="display: flex; gap: 5px;">
            <label for="#">Sim</label>
            <div class="info" style="width: 20px; height: 20px;">[ ]</div>
            <label for="#">Não</label>
            <div class="info" style="width: 20px; height: 20px;">[ ]</div>
          </div>
        </div>
      </section>

      <p class="p-doenca" style="background-color: #eeeeee;">ECOG (AVALIADO PELO MÉDICO)</p>
      <section class="ca-prostata" style="padding: 15px;  margin-top: 5px;">

        <div class="container-prostata" style="display: flex; justify-content: space-around; margin-top: 10px;">
          <div style="display: flex; gap: 5px;">
            <label for="#">0</label>
            <div class="info" style="width: 20px; height: 20px;">[ ]</div>
          </div>

          <div style="display: flex; gap: 5px;">
            <label for="#">1</label>
            <div class="info" style="width: 20px; height: 20px;">[ ]</div>
          </div>

          <div style="display: flex; gap: 5px;">
            <label for="#">2</label>
            <div class="info" style="width: 20px; height: 20px;">[ ]</div>
          </div>

          <div style="display: flex; gap: 5px;">
            <label for="#">3</label>
            <div class="info" style="width: 20px; height: 20px;">[ ]</div>
          </div>

          <div style="display: flex; gap: 5px;">
            <label for="#">4</label>
            <div class="info" style="width: 20px; height: 20px;">[ ]</div>
          </div>

          <div style="display: flex; gap: 5px;">
            <label for="#">5</label>
            <div class="info" style="width: 20px; height: 20px;">[ ]</div>
          </div>

          <div style="display: flex; gap: 5px;">
            <label for="#">Não disponível</label>
            <div class="info" style="width: 20px; height: 20px;">[ ]</div>
          </div>
        </div>
      </section>

      <p class="p-doenca" style="background-color: #eeeeee;">ESTADIAMENTO</p>
      <section class="ca-prostata" style="padding: 15px;">

        <div class="container-prostata" style="display: flex; justify-content: space-around; margin-top: 2px;">
          <div style="display: flex; gap: 5px;">
            <div style="width: 745px; height: 20px; background-color: #eeeeee;"></div>
          </div>
        </div>
      </section>

      <p class="p-doenca" style="background-color: #eeeeee; margin-top: 20px;">TRATAMENTOS PARA O CANCER</p>
      <section class="ca-prostata" style="padding: 15px; border-bottom: 2px solid black; margin-top: 5px; display: flex; align-items: center; margin-top: 20px;">
        <div class="container-prostata" style="display: flex; flex-direction: column; margin-top: 10px; gap: 10px; align-items: center;">
          <div style="display: flex; gap: 5px;">
            <label for="#">SEM TRATAMENTO:</label>
          </div>

          <div style="display: flex; gap: 5px;">
            <label for="#">CIRURGIA:</label>
          </div>

          <div style="display: flex; gap: 5px;">
            <label for="#">HORMONIOTERAPIA</label>
          </div>

          <div style="display: flex; gap: 5px;">
            <label for="#">QUIMIOTERAPIA:</label>
          </div>

          <div style="display: flex; gap: 5px;">
            <label for="#">RADIOTERAPIA:</label>
          </div>
        </div>

        <div class="container-prostata" style="display: flex; margin-top: 10px; flex-direction: column; gap: 10px; align-items: center;">
          <div style="display: flex; gap: 5px;">
            <div class="info" style="width: 20px; height: 20px; margin-left: 25px;">[ ]</div>
            <label for="#">Sim</label>
            <div class="info" style="width: 20px; height: 20px; margin-left: 25px;">[ ]</div>
            <label for="#">Não</label>
          </div>

          <div style="display: flex; gap: 5px;">
            <div class="info" style="width: 20px; height: 20px; margin-left: 25px;">[ ]</div>
            <label for="#">Sim</label>
            <div class="info" style="width: 20px; height: 20px; margin-left: 25px;">[ ]</div>
            <label for="#">Não</label>
          </div>

          <div style="display: flex; gap: 5px;">
            <div class="info" style="width: 20px; height: 20px; margin-left: 25px;">[ ]</div>
            <label for="#">Sim</label>
            <div class="info" style="width: 20px; height: 20px; margin-left: 25px;">[ ]</div>
            <label for="#">Não</label>
          </div>

          <div style="display: flex; gap: 5px;">
            <div class="info" style="width: 20px; height: 20px; margin-left: 25px;">[ ]</div>
            <label for="#">Sim</label>
            <div class="info" style="width: 20px; height: 20px; margin-left: 25px;">[ ]</div>
            <label for="#">Não</label>
          </div>

          <div style="display: flex; gap: 5px;">
            <div class="info" style="width: 20px; height: 20px; margin-left: 25px;">[ ]</div>
            <label for="#">Sim</label>
            <div class="info" style="width: 20px; height: 20px; margin-left: 25px;">[ ]</div>
            <label for="#">Não</label>
          </div>
        </div>
      </section>

      <section class="historia-medica-diagnosticos" style="margin-top: 30px; border-bottom: 2px solid black;">
        <div>
          <h3>História Médica / Diagnósticos</h3>
          <p style="font-weight: bold;">** Não Informado **</p>
        </div>

        <div style="margin-top: 25px;">
          <p style="font-weight: bold;">Medicação em Uso</p>
          <h3>DALYNE</h3>
        </div>
      </section>
    </section>
  </section>
  <footer>
    <div class="emissao" style="display: flex; gap: 20px;">
      <h5>Data da emissão: 23/05/23</h5>
      <p style="font-size: 12px;">... VitaPrimo - Eficiência em sistemas para Pesquisa Médica - www.vitaprimo.com.br ...</p>
      <p>Página: 3</p>
    </div>
    <div class="emissao" style="display: flex; gap: 20px;">
      <p style="font-size: 14px;">Impresso por <span>SILVIA HELENA DOS SANTOS PINHEIRO</span></p>
      <p style="font-size: 12px;">ROTINA: RRSubEspPesqCaptacao</p>
    </div>
  </footer>

  <!-- Page 4 -->

  <section class="container-page-4">
    <header>
      <img src="#" alt="">
      <p>CEMEC - CENTRO MULTIDISCIPLINAR DE ESTUDOS CLINICOS LTDA - EPP</p>
    </header>

    <section class="section-teste">
      <div class="teste-teste-page2">
        <h3>TESTE TESTE 2</h3>
        <p>Captação - 23/05/23</p>
      </div>
    </section>

    <section class="exames-e-sinais" style="margin-top: 20px;">
      <p>Exames e Sinais</p>
      <p>ALTURA: 170 em 23/05/23; 170 em 31/03/21; 170 em 04/08/20; 170 em 08/04/20</p>
      <p>PESO: 70 em 23/05/23; 70 em 31/03/21; 70 em 04/08/20; 70 em 08/04/20</p>
    </section>

    <div style="margin-top: 20px;">
      <p>Os dados e condições saúdes contidas neste documento foram fornecidos pelo paciente desta
        forma somente serão considerados como diagnóstico se comprovado por exames e avaliação </p>
    </div>
  </section>

  <footer style="margin-bottom: 0px;">
    <div class="emissao" style="display: flex; gap: 20px;">
      <h5>Data da emissão: 23/05/23</h5>
      <p style="font-size: 12px;">... VitaPrimo - Eficiência em sistemas para Pesquisa Médica - www.vitaprimo.com.br ...</p>
      <p>Página: 4</p>
    </div>
    <div class="emissao" style="display: flex; gap: 20px;">
      <p style="font-size: 14px;">Impresso por <span>SILVIA HELENA DOS SANTOS PINHEIRO</span></p>
      <p style="font-size: 12px;">ROTINA: RRSubEspPesqCaptacao</p>
    </div>
  </footer>
  </section>


  <style>
    /* Estilos Page1  */
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: Arial, Helvetica, sans-serif;
    }

    .container-page1 {
      margin: 10px;
    }

    .container-page1 header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 40px;
    }

    .container-page1 header p {
      font-weight: bold;
    }

    .teste-teste2 {
      border-top: 2px solid black;
      border-bottom: 2px solid black;
      padding: 10px 0px 10px 0px;
    }

    .teste-teste2 h3 {
      margin-bottom: 5px;
    }

    .info-user {
      display: flex;
      justify-content: space-between;
      gap: 10px;
      align-items: center;
      padding: 10px;
    }

    .form {
      border-bottom: 2px solid black;
    }

    form span {
      background-color: #eeeeee;
      border: none;
      border-radius: 3px;
    }


    form p {
      margin-top: 10px;
      background: #eeeeee;
      font-weight: 400;
      padding: 5px;
      border-radius: 3px;
    }

    .monitoramento-dados {
      margin-top: 15px;
      border: 2px solid black;
    }

    .monitoramento-contato {
      margin-bottom: 20px;
    }

    .info-dados {
      display: flex;
      gap: 10px;
      margin-top: 10px;
    }

    .info {
      border-radius: 3px;
    }

    footer {
      margin-top: 600px;
      border-top: 2px solid black;
      margin-bottom: 400px;
    }

    /* Estilos Page 2 */

    .container-page2 {
      margin: 10px;
    }

    .container-page2 header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 40px;
    }

    .container-page2 header p {
      font-weight: bold;
    }

    .teste-teste-page2 {
      border-top: 2px solid black;
      border-bottom: 2px solid black;
      padding: 10px 0px 10px 0px;
    }

    .teste-teste-page2 h3 {
      margin-bottom: 5px;
    }

    .info-doencas {
      margin-top: 10px;
    }

    .info-doenca {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      justify-content: space-between;
    }

    .diagnos {
      margin-top: 10px;
    }

    .p-doenca {
      margin-top: 10px;
      font-weight: bold;
    }

    .container-doencas {
      margin-top: 10px;
      gap: 10px;
    }

    .left1 {
      border-right: 2px solid black;
    }

    .outras-info {
      margin-top: 10px;
      gap: 10px;
      justify-content: space-between;
    }

    /* Estilos Page3 */

    .container-page3 {
      margin: 10px;
    }

    .container-page3 header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 40px;
    }

    .container-page3 header p {
      font-weight: bold;
    }
  </style>
</body>

</html>